/* google font link */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Righteous&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Definning Custome Varibles */
:root{
    /*color*/
    --primary-color: #3d141c;
    --secondary-color: #f3961c;

    /*Website Max-Wisth*/
    --site-max-width: 1300px;

}

/*Setting for the whole website*/
a{
    text-decoration: none;

}

ul li{
    list-style: none;

}

.sectoin-container{
    max-width: var(--site-max-width);
    margin: 0 auto;
}

.section-title{
    text-align: center;
    padding: 32px 0;
    font-size: 32px;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
}

.section-title::after{
    content: '';
    width: 80px;
    background: var(--secondary-color);
    height: 5px;
    display: block;
    margin: auto;
    border-radius: 8px;

}

.Button{
    padding: 8px 28px;
    border: 3px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all 0.5s ease-in-out;
    background-color: var(--secondary-color);
}
.Button:hover{
    background-color:transparent ;
    border: 3px solid #fff;
}
/*Styleing for the header section*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px #fff;

}

nav{
    width: var(--site-max-width);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

nav label{
    font-size: 32px;
    color: #fff;
    cursor: pointer;
}

nav .menu-btn,
nav .close-btn{
    display: none;
}

#click{
    display: none;
}

nav .nav-logo a{
    display: flex;
    align-items: center;
    
}
nav .nav-logo h2{
    font-size: 25px;
    padding: 0 10px;
    color: #fff;
    
}

nav ul{
    display: flex;
    gap: 12px;
    
}


nav ul li{
padding: 12px 32px;
border-radius: 50px;
cursor: pointer;
transition: all 0.5s ease;
}
nav ul li:hover{
    background-color: var(--secondary-color
    );
}
nav ul li a{
    font-size: 18px;
    color: #fff;
    
}

/* hero section */

.hero-section{
    padding-top: 100px;
    margin-top: 100px;
    height: calc(100vh - 100px);
    background-color: #3d141c;

}

.hero-section .hero-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hero-section .hero-container .text-section{
    max-width: 55%;
}

.hero-container .text-section h2{
    font-size: 40px;
    color: var(--secondary-color);
}

.hero-container .text-section h3{
    font-size: 35px;
    color: #fff;
    margin-top: 8px;
    font-weight: 600;
}

.hero-container .text-section p{
    font-size: 16px;
    color: #fff;
    margin: 24px 0;
    font-weight: 400;
    line-height: 1.6em;
}

.text-section .hero-section-button{
    display: flex;
    gap: 24px;
}

.hero-container .img-section{
    max-width: 45%;
}

.hero-container .img-section img{
    width: 100%;
}

/*---- About Us section---------- */

.About-Us{
    padding: 52px 0;
    background: #d1d1d1;

}

.about-con{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}
.about-con .text-section{
    max-width: 50%;


}
.about-con .text-section p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;


}

.about-con .image-section{
    max-width: 45%;
}
.about-con .image-section img{
    width: 100%;
}










/* media responsive */
@media only screen and (max-width: 768px){

    nav{
       padding: 0 24px;
        
    }

    nav .menu-btn{
        display: block;
    }
    
    nav ul{
        display: block;
        position: absolute;
        top: 100px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        text-align: center;
        transition: all 0.8s ease-in-out;
    }

    #click:checked ~ ul{
        left: 0;
    }

    #click:checked ~ label .close-btn{
        display: block;
    }

    #click:checked ~ label .menu-btn{
        display: none;
    }

    nav ul li{
        display: block;
        padding: 8px 12px;
        width: 32%;
        margin: 24px auto;
    }

    nav ul li a{
        color: #1b1b1b;
    }


    .hero-section{
        width: 100%;
        height: 100%;
        padding-top: 50px;
        
    }


    .Button{
        font-size: 16px;
    }

    .sectoin-container{
        padding: 0 5%;
    }

    .hero-section .hero-container{
        flex-direction: column;
    }

    .hero-section .hero-container .text-section{
        max-width: 100%;
    }

    .hero-container .text-section h2{
        font-size: 32px;
    }

    .hero-container .text-section h3{
        font-size: 27px;
    }

    .hero-container .img-section{
        max-width: 100%;
    }

    .hero-container .img-section img{
        width: 100%;
    }

   
}